In [2]:
# Library pengolahan data
import pandas as pd
import numpy as np

# Library visualisasi
import matplotlib.pyplot as plt
import seaborn as sns

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("insurance.csv")

#add new columnn BMI category
bmi_condition = [data['bmi'] < 18.5, data['bmi'] < 25, data['bmi'] < 30, data['bmi'] >= 30]
category = ["underweight", "healthy", "overweight", "obese"]

data['kategori'] = np.select(bmi_condition, category)
data.head()

   age     sex     bmi  children smoker     region      charges    kategori
0   19  female  27.900         0    yes  southwest  16884.92400  overweight
1   18    male  33.770         1     no  southeast   1725.55230       obese
2   28    male  33.000         3     no  southeast   4449.46200       obese
3   33    male  22.705         0     no  northwest  21984.47061     healthy
4   32    male  28.880         0     no  northwest   3866.85520  overweight

1. Peluang BMI > 25 versus. peluang BMI < 25, dalam mendapatkan tagihan kesehatan > 16.7k

In [4]:
#filter jumlah BMI > 25 dan punya tagihan > 16.7k
condition_1 = data[(data['bmi']>25) & (data['charges']> 16700)]
condition_1

      age     sex     bmi  children smoker     region      charges    kategori
0      19  female  27.900         0    yes  southwest  16884.92400  overweight
9      60  female  25.840         0     no  northwest  28923.13692  overweight
11     62  female  26.290         0    yes  southeast  27808.72510  overweight
14     27    male  42.130         0    yes  southeast  39611.75770       obese
19     30    male  35.300         0    yes  southwest  36837.46700       obese
...   ...     ...     ...       ...    ...        ...          ...         ...
1313   19  female  34.700         2    yes  southwest  36397.57600       obese
1318   35    male  39.710         4     no  northeast  19496.71917       obese
1321   62    male  26.695         0    yes  northeast  28101.33305  overweight
1323   42  female  40.370         2    yes  southeast  43896.37630       obese
1337   61  female  29.070         0    yes  northwest  29141.36030  overweight

[283 rows x 8 columns]

In [5]:
p_irisan_1 = 283
p_bmi_over_25 = len(data[data['bmi']>25])

#peluang tagihan seseorang > 16.7k diketahui BMI > 25
p_over16_given_over25 = p_irisan_1 / p_bmi_over_25 *100
print(f'Peluang mendapatkan tagihan > 16.7k diketahui BMI > 25: {p_over16_given_over25:.2f}%')

Peluang mendapatkan tagihan > 16.7k diketahui BMI > 25: 25.94%

In [6]:
#filter jumlah BMI < 25 dan punya tagihan > 16.7k
condition_2 = data[(data['bmi']<25) & (data['charges']>16700)]
condition_2.head()

    age     sex     bmi  children smoker     region      charges kategori
3    33    male  22.705         0     no  northwest  21984.47061  healthy
58   53  female  22.880         1    yes  southeast  23244.79020  healthy
62   64    male  24.700         1     no  northwest  30166.61817  healthy
69   28    male  23.980         3    yes  southeast  17663.14420  healthy
85   45    male  22.895         2    yes  northwest  21098.55405  healthy

In [7]:
p_irisan_2 = len(data[(data['bmi']<25) & (data['charges']>16700)])
p_bmi_under_25 = len(data[data['bmi']<25])

#peluang tagihan seseorang > 16.7k diketahui BMI < 25
p_over16_under25 = p_irisan_2 / p_bmi_under_25 *100
print(f'Peluang mendapatkan tagihan > 16.7k diketahui BMI < 25: {p_over16_under25:.2f}%')

Peluang mendapatkan tagihan > 16.7k diketahui BMI < 25: 20.82%

2. Peluang perokok dengan BMI > 25 versus. non-perokok dengan BMI > 25, dalam mendapatkan tagihan kesehatan > 16.7k

In [8]:
#filter perokok dengan BMI > 25 dan punya tagihan > 16.7k
condition_3 = data[(data['bmi']>25) & (data['charges']> 16700) & (data['smoker']=='yes')]
condition_3

      age     sex     bmi  children smoker     region      charges    kategori
0      19  female  27.900         0    yes  southwest  16884.92400  overweight
11     62  female  26.290         0    yes  southeast  27808.72510  overweight
14     27    male  42.130         0    yes  southeast  39611.75770       obese
19     30    male  35.300         0    yes  southwest  36837.46700       obese
23     34  female  31.920         1    yes  northeast  37701.87680       obese
...   ...     ...     ...       ...    ...        ...          ...         ...
1308   25  female  30.200         0    yes  southwest  33900.65300       obese
1313   19  female  34.700         2    yes  southwest  36397.57600       obese
1321   62    male  26.695         0    yes  northeast  28101.33305  overweight
1323   42  female  40.370         2    yes  southeast  43896.37630       obese
1337   61  female  29.070         0    yes  northwest  29141.36030  overweight

[215 rows x 8 columns]

In [9]:
#filter perokok dengan BMI > 25 
condition_4 = data[(data['bmi']>25) & (data['smoker']=='yes')]
condition_4

      age     sex     bmi  children smoker     region      charges    kategori
0      19  female  27.900         0    yes  southwest  16884.92400  overweight
11     62  female  26.290         0    yes  southeast  27808.72510  overweight
14     27    male  42.130         0    yes  southeast  39611.75770       obese
19     30    male  35.300         0    yes  southwest  36837.46700       obese
23     34  female  31.920         1    yes  northeast  37701.87680       obese
...   ...     ...     ...       ...    ...        ...          ...         ...
1308   25  female  30.200         0    yes  southwest  33900.65300       obese
1313   19  female  34.700         2    yes  southwest  36397.57600       obese
1321   62    male  26.695         0    yes  northeast  28101.33305  overweight
1323   42  female  40.370         2    yes  southeast  43896.37630       obese
1337   61  female  29.070         0    yes  northwest  29141.36030  overweight

[219 rows x 8 columns]

In [1]:
p_smoker_over25_over16 = 215
p_smoker_over25 = 219

#peluang tagihan seseorang > 16.7k, diketahui BMI < 25 dan perokok
p_over16_given_over25_smoker = p_smoker_over25_over16 / p_smoker_over25 *100
print(f'Peluang mendapatkan tagihan > 16.7k, diketahui BMI > 25 dan juga perokok: {p_over16_given_over25_smoker:.2f}%')

Peluang mendapatkan tagihan > 16.7k, diketahui BMI > 25 dan juga perokok: 98.17%

In [11]:
#filter non-perokok dengan BMI > 25 dan punya tagihan > 16.7k
condition_5 = data[(data['bmi']>25) & (data['charges']> 16700) & (data['smoker']=='no')]
condition_5

      age     sex     bmi  children smoker     region      charges    kategori
9      60  female  25.840         0     no  northwest  28923.13692  overweight
45     55    male  37.300         0     no  southwest  20630.28351       obese
102    18  female  30.115         0     no  northeast  21344.84670       obese
115    60    male  28.595         0     no  northeast  30259.99556  overweight
138    54  female  31.900         3     no  southeast  27322.73386       obese
...   ...     ...     ...       ...    ...        ...          ...         ...
1195   19  female  27.930         3     no  northwest  18838.70366  overweight
1206   59  female  34.800         2     no  southwest  36910.60803       obese
1211   39    male  34.100         2     no  southeast  23563.01618       obese
1258   55    male  37.715         3     no  northwest  30063.58055       obese
1318   35    male  39.710         4     no  northeast  19496.71917       obese

[68 rows x 8 columns]

In [13]:
#filter non-perokok dengan BMI > 25
condition_6 = data[(data['bmi']>25) & (data['smoker']=='no')]
condition_6

      age     sex    bmi  children smoker     region     charges    kategori
1      18    male  33.77         1     no  southeast   1725.5523       obese
2      28    male  33.00         3     no  southeast   4449.4620       obese
4      32    male  28.88         0     no  northwest   3866.8552  overweight
5      31  female  25.74         0     no  southeast   3756.6216  overweight
6      46  female  33.44         1     no  southeast   8240.5896       obese
...   ...     ...    ...       ...    ...        ...         ...         ...
1332   52  female  44.70         3     no  southwest  11411.6850       obese
1333   50    male  30.97         3     no  northwest  10600.5483       obese
1334   18  female  31.92         0     no  northeast   2205.9808       obese
1335   18  female  36.85         0     no  southeast   1629.8335       obese
1336   21  female  25.80         0     no  southwest   2007.9450  overweight

[872 rows x 8 columns]

In [14]:
p_nonSmoker_over25_over16 = 68
p_nonSmoker_over25 = 872

#peluang tagihan seseorang > 16.7k, diketahui BMI < 25 dan non-perokok
p_over16_given_over25_nonSmoker = p_nonSmoker_over25_over16 / p_nonSmoker_over25 *100
print(f'Peluang mendapatkan tagihan > 16.7k, diketahui BMI > 25 dan juga non-perokok: {p_over16_given_over25_nonSmoker:.2f}%')

Peluang mendapatkan tagihan > 16.7k, diketahui BMI < 25 dan juga non-perokok: 7.80%